<a href="#">
    <ul class="playlist">
        <% playlist.forEach(playlist => { %>
        <li>
            <% if (playlist.image) { %> 
                <picture>
                    <source srcset="https://fdnd-agency.directus.app/assets/<%= playlist.image.id %>.avif" type="image.avif">
                    <source srcset="https://fdnd-agency.directus.app/assets/<%= playlist.image.id %>.webp" type="image.webp">        
                        <img src="https://fdnd-agency.directus.app/assets/<%= playlist.image.id %>" alt="playlist" 
                    height="<%= playlist.image.height %>" width="<%= playlist.image.width %>"> 
                </picture>
            <%  } else { %>
                <picture>
                    <img src="./images/placeholder.png" alt="placeholder" width="144">
                </picture>
            <% } %>    
            <p class="playlistTitle"><%= playlist.title %></p>
            <a href="#" class="playPlaylist" type="button"><%- include('./playbuttonSVG') %> 
            <p>31 min. 55sec</p> </a>

            <form method="POST" action="/<%= playlist.id %>/like-or-unlike">
                <% if (!favourites[playlist.id]) { %>
                    <input type="hidden" name="action" value="like">
                    <button title="like playlist" type="submit" name="action" value="like">
                    <%- include('./heartSVG') %>
                    </button>

                <% } else { %>
                    <button class="unlike-button" title="unlike playlist" type="submit" name="action" value="unlike">                                        
                        <%- include('./filledHeartSVG') %>
                    </button>
                <% } %>
            </form>
            <% }) %>
        </li> 
    </ul>
</a>
<% if (!playlist.length) { %>
<p class="no-playlist">No suggested playlists available.</p>
<% } %>