<%- include('./partials/head') %>
<%- include('./partials/navigatie', {current: '/lessons'}); %>

<main class="lessonsPage">

    <a href="/lessons"><svg class="back-icon" version="1.0" xmlns="http://www.w3.org/2000/svg"width="36" height="30" viewBox="0 0 512.000000 512.000000"preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#fff" stroke="none"><path d="M2391 3364 c-435 -438 -791 -800 -791 -804 0 -12 1581 -1600 1594 -1600 14 0 326 311 326 325 0 6 -285 295 -632 642 l-633 633 633 633 c347 347 632 637 632 642 0 14 -313 325 -327 325 -6 0 -367 -358 -802 -796z"/></g></svg></a>

    <section>
        <h1>All stories</h1>
        <input type="search" placeholder="Search for stories">
        <fieldset class="filters">
            <select name="select" id="select1">
                <option disabled>Animal</option>
            </select>

            <select name="select" id="select2">
                <option disabled>Season</option>
            </select>

            <select name="select" id="select3">
                <option disabled>Language</option>
                <% language.forEach(language => { %>
                    <option><%=language.language%></option>
                <% }) %>
            </select>

            <select name="select" id="select4">
                <option disabled>Sorting</option>
                <option value="a-z">A-Z</option>
                <option value="z-a">Z-A</option>
            </select>
        </fieldset>
        
    </section>
    <article>
        <%- include('./partials/stories') %>
    </article>
</main>

<%- include('./partials/foot') %>
