<%- include('./partials/head') %>
<%- include('./partials/navigatie', {current: '/lessons'}); %>

<main class="lessonsPage">

    <a href="/lessons"><svg class="back-icon" version="1.0" xmlns="http://www.w3.org/2000/svg"width="36" height="30" viewBox="0 0 512.000000 512.000000"preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#fff" stroke="none"><path d="M2391 3364 c-435 -438 -791 -800 -791 -804 0 -12 1581 -1600 1594 -1600 14 0 326 311 326 325 0 6 -285 295 -632 642 l-633 633 633 633 c347 347 632 637 632 642 0 14 -313 325 -327 325 -6 0 -367 -358 -802 -796z"/></g></svg></a>

    <section>
        <h1>All stories</h1>
        <input type="search" placeholder="Search for stories">
        <fieldset class="filters">
            <!-- <label for="selectAnimal">Choose animal</label> -->
            <select name="select" id="select1">
                <option disabled selected value>Animal</option>
            </select>

            <!-- <label for="selectSeason">Choose season</label> -->
            <select name="select" id="select2">
                <option disabled selected value>Season</option>
            </select>

            <!-- <label for="selectLanguage">Choose language</label> -->
            <select name="select" id="select3">
                <option disabled selected value>Language</option>
                <% language.forEach(language => { %>
                <option><%=language.language%></option>
                <% }) %>
            </select>

            <!-- <label for="selectSort">Sort on</label> -->
            <select name="select" id="select4">
                <option disabled selected value>Sorting</option>
                <option value="a-z">A-Z</option>
                <option value="z-a">Z-A</option>
            </select>
        </fieldset>
        
    </section>
    <article>
        <ul class="stories">
            <% stories.forEach(story => { %>
                <li>
                <% if (story.image) { %>
                <img src="https://fdnd-agency.directus.app/assets/<%= story.image %>"alt="story">
                <% } %>
                    <div class="storyInfo">
                        <p><strong><%= story.title %></strong></p>
                        <p><%= story.summary %></p>
            
                        <a href="#" class="playStory"><%- include('./partials/playbuttonSVG') %></svg>
                        <p>3 min. 5sec</p></a>  
                    </div>

                    <img id="storyFlag" src="/images/britishFlag.png" alt="flag">

                    <button class="downloadStory"><svg width="25" height="25" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.6875 11.1094H12.6914C14.1416 11.1094 15.3281 10.5501 15.3281 9.11602C15.3281 7.6819 13.9307 7.17882 12.7969 7.12266C12.5625 4.87986 10.9248 3.51562 9 3.51562C7.18066 3.51562 6.00891 4.72298 5.625 5.92031C4.04297 6.07061 2.67188 6.86637 2.67188 8.51484C2.67188 10.1633 4.0957 11.1094 5.83594 11.1094H7.3125" stroke="#B0B0B0" stroke-width="0.84375" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.3125 12.7994L9 14.4843L10.6875 12.7994" stroke="#B0B0B0" stroke-width="0.84375" stroke-linecap="round" stroke-linejoin="round"/><path d="M9 8.15625V14.0633" stroke="#B0B0B0" stroke-width="0.84375" stroke-linecap="round" stroke-linejoin="round"/></svg></button>
                    <button class="addToPlaylist"><svg width="18" height="18" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="6" cy="6" r="5.5" stroke="#B0B0B0"/><rect x="6.42871" y="3" width="6" height="0.857143" rx="0.428571" transform="rotate(90 6.42871 3)" fill="#B0B0B0"/><rect x="3" y="5.57141" width="6" height="0.857143" rx="0.428571" fill="#B0B0B0"/></svg></button>
                </li>
            <% }) %>
        </ul>
    </article>
</main>

<%- include('./partials/foot') %>
